<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pinboard Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    {% if query %}
        <h1>Pinboard Search for <i>{{ query }}</i></h1>
    {% else %}
        <h1>Pinboard Search</h1>
    {% endif %}

    <input type="text" placeholder="Type your query and hit enter" id="query_input" value="{{ query or "" }}"/>
    <input type="button" id="query_input_btn" value="Search"/>


    {% if results|length > 0 %}
    <p>Found {{ meta['total_results'] }} results.</p>
    <p>Pages:  
    {% for n in range(meta['total_pages'])%}
        {% if n+1 == meta['current_page'] %}
            {{ n+1 }}
        {% else %}
            <a href="/?q={{ query }}&p={{ n+1 }}">{{ n+1 }}</a>
        {% endif %}
        &nbsp;&nbsp;
    {% endfor %}
    </p>
    <ul>
        {% for row in results %}
        <li><a href="{{ row['link_url'] }}" target="_blank">{{ row['title'] }}</a> {{ row['created_at'] }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>Copyright 2016 - <a href="https://github.com/spare-time">Spare Time</a> team. Licensed under Apache v2 </p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
            function doSearch(query) {
                if (query != "") {
                    window.location.href = "/?q=" + query;
                }
            }

            $('#query_input').focus();

            $('#query_input').keyup(function(e){
                if(e.keyCode == 13) {
                    doSearch($(this).val());
                }
            });

            $('#query_input_btn').click(function(e){
                doSearch($('#query_input').val());
            });
        });
    </script>
  </body>
</html>
